.chiffreContainer{
    margin-top:40px;
    width:100%;
    display: flex;
    
    justify-content:space-around;
    text-align: center;
}

.valuename{
    font-family: "barlow", sans-serif;
  color: #1d4355;
  font-size:18px;
  font-weight: 600;
}
.chiffre{
    font-family: montserrat;
    font-weight:700;
    font-size: 28px;
}

.chiffreContainer:hover{
    background-color: rgba(40, 157, 210, 0.03);
}

@media (max-width:700px){

    .chiffre{
        font-size: 20px;
    }
    
}