/*

  padding: 0;
  margin: 0;
}
body{
  padding-top: 60px;
}
h3 {
  font-family: "barlow", sans-serif;
  color: #1d4355;
}

.def {
  margin-top: 45px;
  display: flex;
}

.titre p {
  margin-top: 20px;
  font-family: "montserrat";
  font-size: 17px;
  letter-spacing: 1px;
}

.titre h3 {
  margin-top: 50px;
}

.titre {
  display: block;
  width: 43%;
  margin-left: 10%;
}

.picture {
  margin-left: 8%;
}

.picture img {
  width: 450px;
  height: 300px;
  border-radius: 4px;
}

.ligne {
  width: 100px;
  transform: rotate(45deg);
  height: 2px;
  border-radius: 50%;
}

.ligne2 {
  width: 100px;
  transform: rotate(-45deg);
  height: 2px;
  border-radius: 50%;
}



.tablezone {
  margin-top: 30px;
  padding: 30px 50px;
  background-color: rgba(40, 157, 210, 0.03);
}

.tablecontent {
  padding-left: 17px;
  font-family: "montserrat";
  font-size: 17px;
  letter-spacing: 1px;
}

.titlesicons {
  justify-items: center;
}


.eventligne {
  width: 100%;
  background-color: rgba(40, 157, 210, 0.13);
  margin-top: 30px;
}

.eventligne h4 {
  font-size: 18px;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10%;
  color: #1d4355;
  font-family: "barlow", sans-serif;
}


.notfoundContainer {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newtons-cradle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.notfound {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #1d4355;
  text-align: center;
  display: block;
}




.newtons-cradle {
  --uib-size: 50px;
  --uib-speed: 1.2s;
  --uib-color: #474554;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--uib-size);
  height: var(--uib-size);
 }

 .newtons-cradle__dot {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 25%;
  transform-origin: center top;
 }

 .newtons-cradle__dot::after {
  content: '';
  display: block;
  width: 100%;
  height: 25%;
  border-radius: 50%;
  background-color: var(--uib-color);
 }

 .newtons-cradle__dot:first-child {
  animation: swing var(--uib-speed) linear infinite;
 }

 .newtons-cradle__dot:last-child {
  animation: swing2 var(--uib-speed) linear infinite;
 }

 @keyframes swing {
  0% {
   transform: rotate(0deg);
   animation-timing-function: ease-out;
  }

  25% {
   transform: rotate(70deg);
   animation-timing-function: ease-in;
  }

  50% {
   transform: rotate(0deg);
   animation-timing-function: linear;
  }
 }

 @keyframes swing2 {
  0% {
   transform: rotate(0deg);
   animation-timing-function: linear;
  }

  50% {
   transform: rotate(0deg);
   animation-timing-function: ease-out;
  }

  75% {
   transform: rotate(-70deg);
   animation-timing-function: ease-in;
  }
 }

@media (min-width:750px) and (max-width:1250px) {


  .picture img {
    width: 350px;
    height: 250px;
    border-radius: 4px;
    margin-right:10px;
    margin-top:30px;
  }

  .tablezone {

    padding: 30px 20px;

  }



}



@media (max-width: 750px) {
  .def {
    margin-top: 30px;
  }

  .tablezone,
  .picture {
    display: none;
  }

  .titre {
    display: block;
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
  }

  .titre h3 {
    margin-top: 0px;
  }

  .troisimg {
    width: 35px;
    height: 35px;
  }

  .titlesicons h3 {
    font-size: 15px;
  }

  .tablecontent {
    font-size: 12px;
    padding-left: 8px;
  }
}*/

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    background-color: #0077b6;

}


a {
    color: black;
}

a:hover {
    color:#CB997E;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    z-index: 997;
    transition: all 0.5s;
    height: 80px;
    background: rgba(25, 28, 31, 0.8);
}

#header.header-transparent {
    background-color: #0077b6;

}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu * {
    margin: 0;
    padding: 0;
    overflow: visible;
    text-decoration:none;
    list-style: none;
    z-index: 10000;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 119, 182, 0.26);
}

.nav-menu > ul {
    display: flex;
    text-align: center;

}

.nav-menu > ul > li {
    position: relative;
    justify-content: center;
}
.light{
    background-color: white;
}
.nav-menu a {
    display: block;
    position: relative;
    text-align: center;
        color: #fff;
    padding: 10px;
    transition: 1.3s;
    font-size: 12px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

/*.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: black;
    text-decoration: none;
}*/
.picture img {
    width: 450px;
    height: 300px;
    border-radius: 4px;

}
.pictureNav img {
    width: 130px;
    height: 100px;
    border-radius: 4px;

}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 70vh;
    /* background: url("../img/hero-bg.jpg") top right; */
    background-color: #0077b6;
    background-size: cover;
    position: relative;
}

#hero:before {
    background-color: #0077b6;

    content: "";
    /* background: rgba(0, 0, 0, 0.65); */
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-family: "Satisfy", serif;
    color: #ffffff;
}

#hero h2 {
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.description{
    color: #ffffff;
    text-align: center;
    width: 50%;
    font-size: 20px;
}
#hero .btn-scroll {
    transition: 0.4s;
    color: rgba(255, 255, 255, 0.6);
    animation: up-down 1s ease-in-out infinite alternate-reverse both;
    font-size: 48px;
}

#hero .btn-scroll i {
    font-size: 48px;
}

#hero .btn-scroll:hover {
    color:white;
    text-decoration: none;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 575px) {
    #hero h1 {
        font-size: 40px;
    }
    #hero h2 {
        text-align: center;
        margin-bottom: 30px;
    }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
}

.section-bg {
    background-color: white;
}

.section-title {
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #3b434a;
    position: relative;
    z-index: 2;
}

.section-title span {
    position: absolute;
    top: 30px;
    color: #eef0f2;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
}

.section-title p {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}

@media (max-width: 575px) {
    .section-title h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }
    .section-title span {
        font-size: 38px;
    }
}

/*--------------------------------------------------------------
# About Me
--------------------------------------------------------------*/
.about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #3b434a;
    text-transform: uppercase;
}

.about .content p {
    margin-bottom: 0;
}

.about .content ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.about .content ul li {
    padding-bottom: 10px;
}

.about .content ul i {
    font-size: 20px;
    padding-right: 2px;
    color: #ffb727;
}

.about .skills-content {
    margin-top: 30px;
}

.about .skills-content .progress {
    height: 50px;
    display: block;
    background: none;
}

.about .skills-content .progress .skill {
    padding: 10px 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: #3b434a;
}

.about .skills-content .progress .skill .val {
    float: right;
    font-style: normal;
}

.about .skills-content .progress-bar-wrap {
    background: #e6e8eb;
}

.about .skills-content .progress-bar {
    width: 1px;
    height: 10px;
    transition: .9s;
    background-color: #A5A58D;
}

.about .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.about .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

/*--------------------------------------------------------------
# My Portfolio
--------------------------------------------------------------*/
.portfolio #portfolio-flters {
    list-style: none;
    margin-bottom: 20px;
}

.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    margin: 0 10px 10px 10px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    padding: 7px 10px;
    text-transform: uppercase;
    color: #444444;
    transition: all 0.3s ease-in-out;
    border: 2px solid #fff;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
    color: #f3a200;
    border-color: #ffb727;
}

.portfolio .portfolio-item {
    margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-img {
    overflow: hidden;
}

.portfolio .portfolio-item .portfolio-img img {
    transition: all 0.8s ease-in-out;
}

.portfolio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 15px;
    bottom: 0;
    z-index: 3;
    right: 15px;
    transition: all ease-in-out 0.3s;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0px;
}

.portfolio .portfolio-item .portfolio-info p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link, .portfolio .portfolio-item .portfolio-info .details-link {
    position: absolute;
    right: 40px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: #fff;
    transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover, .portfolio .portfolio-item .portfolio-info .details-link:hover {
    color: #ffc041;
}

.portfolio .portfolio-item .portfolio-info .details-link {
    right: 10px;
}

.portfolio .portfolio-item:hover .portfolio-img img {
    transform: scale(1.2);
}

.portfolio .portfolio-item:hover .portfolio-info {
    opacity: 1;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact a {
    color: black;
    font-family: "Satisfy", serif;
    font-size: 20px;
}

#contact a:hover {
    /* color: #CB997E; */
    color: #FFF1E6;
    font-size: 25px;
}

.contactme {
    background-color: #A5A58D;
    padding: 15px;
}

.contactme h3 {
    margin-top: 30px;
    color: white;
}

.contactme .getintouch {
    background-image: url(./Images/brush-stroke.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .65;
}

.contactme .getintouch h1 {
    font-family: "Satisfy", serif;
    color: black;
}

.info-box img {
    background-color: #EDDCD2;
    padding: 15px;
}



.main {
    height: 100vh !important;


}

/* modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

#portybc {
    width: 80%;
    height: 300px;
    border-radius: 21px 21px 0 0;
    background-image: url(./Images/BookClubWelcome.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#portybc:hover {
    transform: scale(1.2);
    background-image: url("https://media0.giphy.com/media/IhxxlsU4EmOSHyLUhu/giphy.gif");
}

#portykk {
    width: 80%;
    height: 300px;
    border-radius: 21px 21px 0 0;
    background-image: url(./Images/ScheduleKeeper.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#portykk:hover {
    transform: scale(1.2);
    background-image: url("https://media.giphy.com/media/Njyb2eoAa1WBOMEjFG/giphy.gif");
}

#portytt {
    width: 80%;
    height: 300px;
    border-radius: 21px 21px 0 0;
    background-image: url(./Images/TheTraveler.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#portytt:hover {
    transform: scale(1.2);
    /* background-image: url("https://media2.giphy.com/media/KEAdPusJRecS05dIdx/giphy.gif"); */
}

#portytm {
    width: 80%;
    height: 300px;
    border-radius: 21px 21px 0 0;
    background-image: url(./Images/TeamManagerPlay.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#portytm:hover {
    transform: scale(1.2);
    background-image: url("https://media0.giphy.com/media/JO3ZS3GjDUP7HMEfVl/giphy.gif");
}

.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
    -ms-flex: 1;
    flex: 1;
}
@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        flex: 1;
    }
}

.overflow-hidden { overflow: hidden; }

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    -webkit-transition: all 700ms ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}
.container {
    display: flex;
    width: 90vw;
}
.carousel {
    box-shadow: 10px 1px 1px rgb(0, 119, 182);
    height: 900px;
    width:1000px;
    justify-content: center;
    overflow: hidden;
}
.carousel-container{
    margin-bottom: 100px;
    display: flex;
}
.tablecontent{
    margin-left: 20px;
    justify-content: center;
    font-size: 19px;
    text-align: center;}
.column{
padding: 10px;
}
.titlesicons {
    justify-items: center;

}
.troisimg {
    justify-items: center;

    width: 60px;
    height: 60px;
}
.container1{
    margin-top: 5%;
    background-color: white;
    padding: 30px;
    border: 10px solid rgba(0, 119, 182, 0.64);
    border-radius: 30px;
    box-shadow: 1px 1px 20px rgb(47, 47, 47);
    margin-bottom: 10px;
}
.title{
    padding-top: 140px;
    margin-top: 50px;
    color:white;
    text-align: center;
    margin-bottom: 30px;
}

.arrows {
    width: 100px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
}

.arrows path {
    stroke: #ffffff;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

.arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.blink-text-menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;

    li {
        a {
            position: relative;
            display: flex;
            padding: 6px;
            color: white;
            text-decoration: none;

            span {
                position: relative;
                overflow: hidden;
                transition: 0.6s;

                .out {
                    display: inline-flex;
                }

                .in {
                    position: absolute;
                    left: 0;
                    opacity: 0;
                    transform: translateX(100%);
                }
            }

            &:hover {
                span {
                    .out {
                        opacity: 0;
                        transform: translateX(-100%);
                    }

                    .in {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
            }
        }
    }
}
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

#down {
    margin-top: 100%;
    padding-bottom: 25%;
}
.gap{
padding-left: 10px;
padding-right: 10px;
}